.bodybg{
	background: url(../img/wrap_rp.jpg) repeat;
}
.warpper{
	background: url(../img/wrap_bg_down.jpg) no-repeat right 0;
    overflow: hidden;
	width: 1349px;
	/* height: 2014px; */
	position: relative;
	z-index: 1;
	margin: 0 auto;
}
.newsmain{
	width: 62%;
	margin-top: 242px;
    margin-left: 37px
}
.newstitle{
	height: 104px;
    border-bottom: 3px solid #36313f;
}
.newstitle h2{
	height: 64px;
    font-weight: normal;
    line-height: 64px;
    color: #3f3f51;
    font-size: 42px;
}
.newstitleew{
	display: inline;
	opacity: .2;
	font-size: 42px;
    padding-left: 12px;
}
.ntitlebotm{
	height: 20px;
    line-height: 20px;
    color: #3f424e;
}
.newsicon1{
	float: left;
    width: 9px;
    height: 9px;
	margin: 4px 6px 0 0;
    display: inline;
	background: url(../img/home_icon.png) no-repeat;
}
.ntitlebotm a{
	color: #3f424e;
}
.ntitlebotm span{
	font-weight: bold;
}
.ntitlebotm a:hover{
	color: #c25521;
}
.newcontent{
	width: 100%;
	overflow: hidden;
}



.down-sec{
	padding-bottom: 20px;
}
.down-btitle{
	display: block;
	margin: 35px 0 12px 0;
	line-height: 22px;
	padding-bottom: 9px;
	border-bottom: 1px solid rgba(88,96,106,0.2);
}
.down-btitle span{
	display: block;
    line-height: 22px;
    font-size: 19px;
    color: #c25521;
    border-left: 8px solid #484450;
    padding-left: 8px;
    font-weight: bold;
}
.down-info{
	color: #58606a;
}
.version-now{
	float: left;
    width: 33.333333%;
    text-indent: 5px;
    height: 24px;
    line-height: 24px;
}
.down-high{
	font-weight: 400;
}
.update-date{
	float: left;
    width: 33.333333%;
    text-indent: 5px;
    height: 24px;
    line-height: 24px;
}
.down-md5{
	float: left;
    width: 100%;
	padding-left: 5px;
}
.down-list{
	margin: 20px 0 15px;
}
.down-list li{
	width: 50%;
	float: left;
	margin-bottom: 10px;
}
.down-list a{
	display: block;
    margin-right: 10px;
    height: 51px;
    padding-top: 15px;
    background: #c25521;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}
.down-list a:hover {
    background: #de6c27;
}
.down-sp{
	display: inline-block;
    height: 36px;
    padding-left: 40px;
    line-height: 36px;
    font-size: 14px;
	background: url(../img/down_spr.png) no-repeat;
}
.i_xf{
	background: url(../img/down_spr.png) no-repeat -43px -379px;
}
.i_js{
	background: url(../img/down_spr.png) no-repeat -43px -414px;
}
.down-notice{
	position: relative;
}
.downtip-icon{
	width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
	background: url(../img/down_spr.png) no-repeat 100% -529px;
}
.underline{
	position: absolute;
    right: 0;
    bottom: 0;
	color: #c25521;
	text-decoration: underline;
}
.underline:hover{
	color: #ee0000;
}
.down-sec table{
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d6d8da;
}
.down-sec table th{
	border: 1px solid #d6d8da;
    color: #36313f;
    background: #ebebeb;
    padding: 10px;
}
.down-sec table td{
	border: 1px solid #d6d8da;
    color: #8b9096;
    padding: 10px;
    text-align: center;
}
.patch-lnk{
	color: #c25521;
}
.patch-lnk:hover{
	text-decoration: underline;
}
.qqpcmgr{
	padding-left: 90px;
    margin-bottom: 20px;
	position: relative;
}
.i_mgr{
	display: block;
    width: 73px;
    height: 76px;
	position: absolute;
    top: 0;
    left: 0;
	background: url(../img/down_spr.png) no-repeat;
}
.qqpcmgr strong{
	display: block;
    font-size: 16px;
    color: #4a4552;
	font-weight: bold;
}
.btn-small{
	float: left;
    margin-right: 8px;
	display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    height: 24px;
    background: #36313f;
    color: #b1d5f3;
	border-radius: 3px;
}
.btn-small:hover{
	background: #2e7b8d;
    color: #fff;
}
.i_dd{
	padding-left: 15px;
    height: 18px;
    display: inline-block;
	background: url(../img/down_spr.png) no-repeat -68px -581px;
}
.i_book{
	padding-left: 15px;
    height: 18px;
    display: inline-block;
	background: url(../img/down_spr.png) no-repeat -67px -608px;
}
.btn-text{
	display: block;
    float: left;
    color: #c25521;
    margin-top: 10px;
}
.i_xuny{
	background: url(../img/down_spr.png) no-repeat 0 -724px;
}
.down-driver li{
	float: left;
    width: 25%;
    color: #58606a;
	text-align: center;
}
.ico{
	float: none;
    margin: 0 auto;
	width: 73px;
    height: 76px;
    display: block;
	margin-bottom: 2px;
    margin-top: 2px;
}
.down-driver .btn-small{
	float: none;
}
.i_dx{
	background: url(../img/down_spr.png) no-repeat 0 -76px;
}
.i_vs{
	background: url(../img/down_spr.png) no-repeat 0 -152px;
}
.i_nv{
	width: 79px;
	height: 80px;
	background: url(../img/down_spr.png) no-repeat 0 -228px;
}
.i_dd em{
	color: #eb7841;
}



.about{
	width: 100%;
    height: 265px;
    border-top: 3px solid #36313f;
	background: url(../img/about_bg.png) no-repeat right 0;
}
.abouttitle{
	height: 38px;
    line-height: 38px;
    font-size: 21px;
    margin-top: 60px;
    color: #080706;
    font-weight: bold;
}
.abouttext{
	color: #8b877e;
    line-height: 24px;
    width: 450px;
}
.aboutweight{
	color: #64583c;
    font-weight: bold;
}
footer{
	background: #20222c;
}