.bodybg{
	background: url(../img/wrap_rp.jpg) repeat;
}
.warpper{
	background: url(../img/wrap_bg.jpg) no-repeat right 0;
    overflow: hidden;
	width: 1349px;
	/* height: 2014px; */
	position: relative;
	z-index: 1;
	margin: 0 auto;
}
.newsmain{
	width: 62%;
	margin-top: 242px;
    margin-left: 37px
}
.newstitle{
	height: 104px;
    border-bottom: 3px solid #36313f;
}
.newstitle h2{
	height: 64px;
    font-weight: normal;
    line-height: 64px;
    color: #3f3f51;
    font-size: 42px;
}
.newstitleew{
	display: inline;
	opacity: .2;
	font-size: 42px;
    padding-left: 12px;
}
.ntitlebotm{
	height: 20px;
    line-height: 20px;
    color: #3f424e;
}
.newsicon1{
	float: left;
    width: 9px;
    height: 9px;
	margin: 4px 6px 0 0;
    display: inline;
	background: url(../img/home_icon.png) no-repeat;
}
.ntitlebotm a{
	color: #3f424e;
}
.ntitlebotm span{
	font-weight: bold;
}
.ntitlebotm a:hover{
	color: #c25521;
}
.newcontent{
	width: 100%;
	overflow: hidden;
}
.newsearch{
	padding: 30px 70px 30px 0;
	position: relative;
}
.submit{
	display: inline;
	width: 65px;
	height: 28px;
	float: right;
	padding: 1px 6px;
	text-align: center;
	background: url(../img/spr.png) no-repeat -139px -522px;
}
.input{
	float: left;
	width: 560px;
	height: 27px;
	line-height: 27px;
	margin-right: 8px;
	background: rgb(255.255,255);
	border: 1px solid rgb(227,230,237);
}
.newswitcher{
	height: 25px;
    margin-bottom: 20px;
	background: url(../img/vline.png)no-repeat 0 50%;
}
.newswitcher li{
	float: left;
    width: 16.666666%;
}
.newswitcher a{
	display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #333b48;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
	background: url(../img/vline.png)no-repeat 100% 50%;
}
.newswitcher .active{
	color: #e73012;
}
.newlist{
	height: 1000px;
    width: 100%;
    padding-right: 22px;
}
.newlist li{
    width: 100%;
    height: 43px;
    line-height: 43px;
    border-bottom: 1px dashed #cdd4dd;
}
.newdate{
	float: right;
}
.newact{
	color: #58606a;
    padding-right: 8px;
}
.newlink{
	color: #58606a;
}
.newlist a:hover{
	color: #ee0000;
	font-weight: 700;
}
.pager{
	text-align: center;
    margin: 30px 0;
}
.lastpage{
	display: inline-block;
    height: 36px;
    line-height: 36px;
    margin-left: 15px;
    border: 1px solid #ced0d5;
    border-radius: 4px;
    width: 158px;
    text-align: center;
    font-size: 13px;
    color: #36313f;
}
.lastpage:hover{
	background: #c25521;
    border: 1px solid #d48864;
    color: #fff;
}
.about{
	width: 100%;
    height: 265px;
    border-top: 3px solid #36313f;
	background: url(../img/about_bg.png) no-repeat right 0;
}
.abouttitle{
	height: 38px;
    line-height: 38px;
    font-size: 21px;
    margin-top: 60px;
    color: #080706;
    font-weight: bold;
}
.abouttext{
	color: #8b877e;
    line-height: 24px;
    width: 450px;
}
.aboutweight{
	color: #64583c;
    font-weight: bold;
}
footer{
	background: #20222c;
}
